.slideshow {
    position: relative;
    margin: 30px 0;
}

.slidephoto {
    height: 320px;
    width: 100%;
    object-fit: cover;
}

.photoSlide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.6);
}

.next {
    right: 0;
}

.text {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: 'Rajdhani';

}

.numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: 'Rajdhani';
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}

.dotgroup {
    text-align:center
}

.active {
    position: relative;
    bottom: 5px;}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#skip {
    display: none;
}

.nav {
    display: flex;
    font-family: 'Rajdhani';
    font-size: 20px;
    color: white;
    text-align: center;
    justify-content: space-between;
    padding: 25px 60px
}

.navitem {
    padding: 0 10px;
    list-style-type: none;
}

#currentpage {
    border-bottom: white solid 2px;
    margin: 5px;
}

h1 {
    font-family: 'Rajdhani';
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bolder;
}

.homeintro {
    font-family: 'Rajdhani';
    font-size: 15px;
    color: white;
    padding: 25px 60px;
}

.citycard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    margin: 30px 60px;
    background-color: rgba(255, 255, 255, 0.1);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transform: translateZ(50px);
}

.citycardpic {
    border-radius: 500px;
    border: solid 2px white;
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin: 20px;
}

.citytitle {
    font-family: 'Rajdhani';
    font-size: 25px;
    color: white;
}

.citydescription {
    font-family: 'Rajdhani';
    font-size: 15px;
    color: white;
}

body {
    background-color: black;
    background-size: cover;
}

footer {
    font-size: 15px;
    font-family: 'Rajdhani';
    color: white;
    padding: 30px 60px;
}

.sitename {
    display: none;
}

.cityname {
    font-family: 'Rajdhani';
    font-size: 25px;
    color: white;
    margin: 10px 0 0 0;
    font-weight: bolder;
}

.subtitles {
    font-family: 'Rajdhani';
    font-size: 20px;
    color: white;
    margin: 20px 0 0 0;
    font-weight: bold;
}

.city {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    margin: 30px 60px;
    background-color: rgba(255, 255, 255, 0.1);
}

.introtocity {
    font-family: 'Rajdhani';
    font-size: 15px;
    color: white;
    margin: 20px 0 0 0;}

ul {
    list-style-type: circle;
    font-size: 15px;
    font-family: 'Rajdhani';
    color: white;
    margin-top: 5px;
}

iframe {
    border: none;
    width: 100%;
    height: 85px;
    margin: 10px 0 0 0;
}

.readmorebutton {
    display: block;
    background-color: white;
    font-family: 'Rajdhani';
    font-size: 15px;
    padding: 5px 10px;
    margin: 10px auto;
}

@media only screen and (min-width: 600px) {
    .sitename {
        display: inline;
        color: white;
        font-family: 'Rajdhani';
        padding: 25px 60px;
        font-size: 20px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (min-width: 1100px) {
    #skip {
        display: block;
        position: absolute;
        font-size: 18px;
        font-family: 'Rajdhani';
        color: white;
        top: -1000px;
    }
      
    #skip:focus {
        display: block;
        position: relative;
        padding: 20px 0 0 60px;
        left: 0;
        top: 3px;
        text-decoration: underline;
    }

    .citycards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 20px 60px;
    }

    .citycard {
        margin: 0;
    }

    .cities {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 20px 60px;
    }

    .city {
        margin: 0;
    }
}